{% extends 'website/base.html' %}

{% load static %}

{% block content %}

<!-- Categories Table -->
<table>  
 
    <tr>  
        <h4><td>50m</td></h4>
   
    </tr>  
    <tr>  
       <h4> <td>100m</td></h4>
     
    </tr>   
    <tr>  
        <h4><td>200m</td></h4>
        
    </tr>  
    <tr>  
        <h4><td>400m</td></h4>
   
    </tr>  
    <tr>  
        <h4><td>800m</td></h4>
       
    </tr>  
    <tr>  
       <h4><td>1500m</td></h4>
           
    </tr>  
    <tr>  
       <h4><td>Diving</td></h4>
               
    </tr>  
    <tr>  
       <h4><td>Swimming</td></h4>
                   
    </tr>  
  
    </table>  



{% endblock %}