{% extends 'website/base.html' %}

{% load static %}

{% block content %}

<!-- Club Table -->
<table>  
    <tr>  
        <th>Club Name/Aquatic Centre</th>
        <th>Location</th>
        <th>Contact</th>
        <th>Email</th>
        <th>Website Link</th>
    </tr>  
    <tr>  
        <td>Darrel Morton's School of Swimming</td>
        <td>75791 Setlhoa Village, Gaborone, Botswana </td>
        <td>+267 3973383/+267 71619388</td>
        <td><a href="mailto:someone@example.com">info@dmss.co.bw</a></td>
        <td><a href="http://www.dmss.co.bw/" >Visit Site</a></td>
    </tr>  
    <tr>  
        <td>University of Botswana Swimming Club</td>
        <td>UB Gaborone, Botswana </td>
        <td>+267 000000</td>
        <td><a href="mailto:someone@example.com">email</a></td>
        <td><a href="https://www.facebook.com/UBSwimClub/" >Visit facebook Page</a></td>
    </tr>   
    <tr>  
        <td>UB Aquatic Centre</td>
        <td>UB, Gaborone, Botswana </td>
        <td>+267 355 5209</td>
        <td><a href="mailto:someone@example.com">email</a></td>
        <td><a href="https://www.ub.bw/campus-life/culture-sports-and-recreation/facilities/ub-aquatic-centre" >Visit Site</a></td>
    </tr>  
    <tr>  
        <td>Gaborone Aquatic Centre(Waterbabies)</td>
        <td>Kgale, Gaborone, Botswana </td>
        <td>+267 393 9883</td>
        <td><a href="mailto:someone@example.com">craig@waterbabiesbw.com</a></td>
        <td><a href="http://www.waterbabiesbw.com/" >Visit Site</a></td>
    </tr>  
    </table>  



{% endblock %}