{% extends 'website/base.html' %}

{% load static %}

{% block content %}
		
     <h2>History</h2>
     <p>The BSSA is Botswana’s only official swimming body in Botswana that is affiliated to the BNSC (Botswana National Sports Commission), FINA (International Swimming Federation), CANA IV (Confédération Africaine de Natation Amateur) as well as the BNOC (Botswana National Olympic Committee) since we sent our first swimmers to the Olympics in 2008. We have 10 swimming clubs affiliated to us in Botswana with over 600 swimmers registered.

                The BSSA is actively looking for individuals, corporate businesses, and anyone willing to help aid and partner with us in the development of swimming within Botswana. The BSSA is a very young and new association and as such, financially, does not always have the backing that it requires. Although swimming is a relatively new sport, the number of swimmers and competitors involved in swimming has grown exponentially over the last few years, and continues to do so. Because of the growth of swimming in Botswana, more of our athletes qualify for major international competitions and our country is now very much on the international swimming map. 
                
                The Botswana Swimming Sports Association was one of only three codes in Botswana who had athletes participate in Rio Olympic Games, so as a sporting code we are definitely on the right track. However, there is a huge financial demand when it comes to training athletes, sending them on tours and preparing them for elite competitions such as the Olympic Games. Furthermore we were very excited to send two swimmers to the first ever Youth Olympic Games were one of our swimmers missed a semi final position by a hundredth of a second. </p>

{% endblock %}