<html>
<body>
<link rel="stylesheet" type="text/css" href="simlefooter.css">
<footer id ="foot">
<div class="container">
        <div class="inner-container">
            <h2 class="text-uppercase">Quick Links</h2>

        <ul class="list">
          <li>
            <a href="#!">About Us</a>
          </li>
          <li>
            <a href="#!">BSSA Executive Committee</a>
          </li>
          <li>
            <a href="#!">BSSA National Selection Gala</a>
          </li>
          <li>
            <a href="#!">Events</a>
          </li>
        </ul>
<div class="social">
<a href="https://www.facebook.com/Botswana-Swimming-Sports-Association-314724768664061/"><img class = "social facebook" src= "images/fac.png" width="50" height="50" hspace="10"></a>
<a href=""><img class="social twitter" src= "images/twitter.png" width="50"height="50"hspace="10"></a>
<a href="https://www.instagram.com/botswana_swimming/?hl=en"><img class="social youtube"src="images/insta.png"width="50"height="50"hspace="10"></a>
</div>
<div class="footer-copyright">
            <p>© Botswana Swimming Sports Association</p>
        </div>
    </div>
</div>
</footer>
</body>
</html>
