   
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>New Slider</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.theme.min.css">
    </head>
    <body>
    <div class="container">
        <h3 class="h3">New slider Demo - 6</h3>
        <div class="row">
            <div class="col-md-12">
                <div id="news-slider6" class="owl-carousel">
                    <div class="post-slide6">
                        <div class="post-img">
                            <img src="http://bestjquery.com/tutorial/news-slider/demo28/images/img-1.jpg" alt="">
                            <div class="post-info">
                                <ul class="category">
                                    <li>in <a href="#">Graphics</a></li>
                                    <li>by <a href="#">admin</a></li>
                                </ul>
                                <span class="post-date">May 05, 2016</span>
                            </div>
                        </div>
                        <div class="post-review">
                            <span class="icons">
                                <img src="http://bestjquery.com/tutorial/news-slider/demo28/images/img-5.jpg" alt="">
                            </span>
                            <h3 class="post-title"><a href="#">Latest News Post</a></h3>
                            <p class="post-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad assumenda culpa cumque dicta sint soluta voluptas eius iusto modi reprehenderit sint soluta voluptas.</p>
                            <a href="#" class="read">read more</a>
                        </div>
                    </div>
     
                    <div class="post-slide6">
                        <div class="post-img">
                            <img src="http://bestjquery.com/tutorial/news-slider/demo28/images/img-2.jpg" alt="">
                            <div class="post-info">
                                <ul class="category">
                                    <li>in <a href="#">Graphics</a></li>
                                    <li>by <a href="#">admin</a></li>
                                </ul>
                                <span class="post-date">May 07, 2016</span>
                            </div>
                        </div>
                        <div class="post-review">
                            <span class="icons">
                                <img src="http://bestjquery.com/tutorial/news-slider/demo28/images/img-6.jpg" alt="">
                            </span>
                            <h3 class="post-title"><a href="#">Latest News Post</a></h3>
                            <p class="post-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad assumenda culpa cumque dicta sint soluta voluptas eius iusto modi reprehenderit sint soluta voluptas.</p>
                            <a href="#" class="read">read more</a>
                        </div>
                    </div>
                    
                    <div class="post-slide6">
                        <div class="post-img">
                            <img src="http://bestjquery.com/tutorial/news-slider/demo28/images/img-3.jpg" alt="">
                            <div class="post-info">
                                <ul class="category">
                                    <li>in <a href="#">Graphics</a></li>
                                    <li>by <a href="#">admin</a></li>
                                </ul>
                                <span class="post-date">May 07, 2016</span>
                            </div>
                        </div>
                        <div class="post-review">
                            <span class="icons">
                                <img src="http://bestjquery.com/tutorial/news-slider/demo28/images/img-6.jpg" alt="">
                            </span>
                            <h3 class="post-title"><a href="#">Latest News Post</a></h3>
                            <p class="post-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad assumenda culpa cumque dicta sint soluta voluptas eius iusto modi reprehenderit sint soluta voluptas.</p>
                            <a href="#" class="read">read more</a>
                        </div>
                    </div>
                    
                    <div class="post-slide6">
                        <div class="post-img">
                            <img src="http://bestjquery.com/tutorial/news-slider/demo28/images/img-4.jpg" alt="">
                            <div class="post-info">
                                <ul class="category">
                                    <li>in <a href="#">Graphics</a></li>
                                    <li>by <a href="#">admin</a></li>
                                </ul>
                                <span class="post-date">May 07, 2016</span>
                            </div>
                        </div>
                        <div class="post-review">
                            <span class="icons">
                                <img src="http://bestjquery.com/tutorial/news-slider/demo28/images/img-7.jpg" alt="">
                            </span>
                            <h3 class="post-title"><a href="#">Latest News Post</a></h3>
                            <p class="post-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad assumenda culpa cumque dicta sint soluta voluptas eius iusto modi reprehenderit sint soluta voluptas.</p>
                            <a href="#" class="read">read more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    </body>