		
          <section >
				   <div id = "aff">
					   	  <center><h2><strong>AFFILIATIONS</strong></h2></center>
					<div class="row">	
						  
						
							  <div class="column">
								
								<img src="{% static "website/fina.png" %}" alt="fina" >
							  </div>
							  <div class="column">
								
								<img src="{% static "website/bnsc.png" %}"  alt="bnsc" >
							  </div>
							  <div class="column">
							   
								<img src="{% static "website/bnoc.png" %}" alt="bnoc" >
							</div>
							<div class="column">
								
								<img src="{% static "website/wasbo.png" %}" alt="wasbo">
							</div>
							<div class="column">
								
								<img src="{% static "website/cana.jpg" %}" alt="cana">
							</div>
							
							</div>
				   </div>
        </section> 
        <!-- Footer -->
				<div id="footer">
					<div class="container">
						<div class="row">
							<section class="col-3 col-6-narrower col-12-mobilep">
								<h3>Useful links</h3>
								<ul class="links">
									<li><a href="#">Upcoming Events</a></li>
									<li><a href="#">News</a></li>
									<li><a href="{% url 'website:findclub' %}">Swimming Clubs in Botswana</a></li>
									<li><a href="https://canaswim.com/">Confederation Africaine de Natation (C.A.N.A) Constitution</a></li>
								</ul>
							</section>
							<section class="col-3 col-6-narrower col-12-mobilep">
								<h3>Contact</h3>
								<h6>Address:</h6>
								<p>P O Box 163</p>
								<p>Gaborone</p>
								<h6>Telephone/Fax:</h6>
								<p>+267 71631166/+267 3904193</p>
								<p></p>
								<h6>Email:</h6>
								<p><a href="mailto:someone@example.com">botswanaswimming@gmail.com</a></p>
							</section>
							<section class="col-6 col-12-narrower">
								<h3>Get In Touch</h3>
								<form>
									<div class="row gtr-50">
										<div class="col-6 col-12-mobilep">
											<input type="text" name="name" id="name" placeholder="Name" />
										</div>
										<div class="col-6 col-12-mobilep">
											<input type="email" name="email" id="email" placeholder="Email" />
										</div>
										<div class="col-12">
											<textarea name="message" id="message" placeholder="Message" rows="5"></textarea>
										</div>
										<div class="col-12">
											<ul class="actions">
												<li><input type="submit" class="button alt" value="Send Message" /></li>
											</ul>
										</div>
									</div>
								</form>
							</section>
						</div>
					</div>

					<!-- Icons -->
						<ul class="icons">
								<a href="https://www.facebook.com/Botswana-Swimming-Sports-Association-314724768664061/?epa=SEARCH_BOX" class="fa fa-facebook"></a>
								<a href="#" class="fa fa-twitter"></a>
								<a href="https://www.instagram.com/botswana_swimming/" class="fa fa-instagram"></a>
								<a href="#" class="fa fa-youtube"></a>
						</ul>

					<!-- Copyright -->
						<div class="copyright">
							<ul class="menu">
									<p>© Botswana Swimming Sports Association</p>
							</ul>
						</div>

				</div>

		</div>